{% extends "base.html" %}
{% block title %}Início{% endblock %}

{% block content %}
<h2>Menu principal</h2>

<div class="menu">
    <a href="{{ url_for('registrar', tipo='entrada') }}">
        <button class="primary">Registrar Entrada</button>
    </a>

    <a href="{{ url_for('registrar', tipo='saida') }}">
        <button class="primary">Registrar Saída</button>
    </a>

    <a href="{{ url_for('registrar', tipo='venda') }}">
        <button class="primary">Registrar Venda</button>
    </a>

    <a href="{{ url_for('registros') }}">
        <button>Consultar Registros</button>
    </a>
</div>
{% endblock %}
